@model FormManagementProject.DataAccess.Models.Form

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formUserSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formUserSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.formUserAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formUserAge)
        </dd>

    </dl>
</div>
<p>
    <h4>Data girisi yapilabilir.</h4>
    @Html.ActionLink("Back to List", "List")
</p>
